# ============================
# Archivos de compilación C/C++
# ============================
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll

# Carpetas de compilación
build/
bin/
Debug/
Release/

# ============================
# Archivos temporales
# ============================
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.vscode/

# ============================
# Archivos de Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/